
@model PagedList.IPagedList<WebAppOddsMatcherUtility.Models.matched_event>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/Content/ion.rangeSlider.css" rel="stylesheet" type="text/css" />
<link href="~/Content/ion.rangeSlider.skinHTML5.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Custom.css" rel="stylesheet" type="text/css" />
<link href="~/Content/font-awesome.min.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Matched";
}

@using (Html.BeginForm("Index", "matched_event", FormMethod.Get, new { @id="frm_filter"}))
{
    <div id="control_area">
        <div class="row">
            <div class="col-sm-12 col-md-6 m-b-10">
                <div id="bet_type_selector_group" class="btn-group btn-group-sm" role="group" aria-label="bet type" data-toggle="buttons">
                    @if (ViewBag.betTypeSelector == "optionSR")
                    {
                        <label class="btn btn-default"><input type="radio" name="betTypeSelector" id="bt_normal_qual" value="optionQualifier"> Normal Qualifier</label>
                        <label class="btn btn-default"><input type="radio" name="betTypeSelector" id="bt_free_no_return" value="optionSNR"> Free Bet Stake Not Returned (SNR)</label>
                        <label class="btn btn-default active"><input type="radio" name="betTypeSelector" id="bt_free_bet_returned" checked  value="optionSR"> Free Bet Stake Returned (SR)</label>
                    }
                    else if (ViewBag.betTypeSelector == "optionSNR")
                    {
                        <label class="btn btn-default"><input type="radio" name="betTypeSelector" id="bt_normal_qual" value="optionQualifier"> Normal Qualifier</label>
                        <label class="btn btn-default active"><input type="radio" name="betTypeSelector" id="bt_free_no_return" checked value="optionSNR"> Free Bet Stake Not Returned (SNR)</label>
                        <label class="btn btn-default"><input type="radio" name="betTypeSelector" id="bt_free_bet_returned" value="optionSR"> Free Bet Stake Returned (SR)</label>
                    }
                    else
                    {
                        <label class="btn btn-default active"><input type="radio" name="betTypeSelector" id="bt_normal_qual" checked value="optionQualifier"> Normal Qualifier</label>
                        <label class="btn btn-default"><input type="radio" name="betTypeSelector" id="bt_free_no_return" value="optionSNR"> Free Bet Stake Not Returned (SNR)</label>
                        <label class="btn btn-default"><input type="radio" name="betTypeSelector" id="bt_free_bet_returned" value="optionSR"> Free Bet Stake Returned (SR)</label>
                    }
                </div>
            </div>
            <div class="col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-3 text-center m-b-10">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon" id="stake_amount">Stake Amount =</span>
                    <input type="text" class="form-control" id="stake_amount_val" name="stakeAmount" aria-describedby="stake_amount" onkeyup="ODDS_NS.inlineCalculate();" onblur="ODDS_NS.amountFilter();" placeholder="10.00" pattern="^\d*(\.\d{2}$)?" value="@ViewBag.stakeAmount">
                </div>
            </div>
            @*<div class="col-sm-6 col-md-3 text-center" style="margin-bottom: 10px;">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon" id="exchange_balance">Exchange Balance =</span>
                    <input type="text" class="form-control" id="exchange_balance_val" name="exchange_balance_val" aria-describedby="exchange_balance">
                </div>
            </div>*@
        </div>
        <div class="row m-b-10">
            <div class="col-md-2 col-md-offset-1 text-center">
                @Html.DropDownList("SearchByBookmaker", null, "All Bookmakers", new { @class = "form-control input-sm", @onchange = "ODDS_NS.submitOldFilterForm(this);" })
            </div>
            <div class="col-md-2 text-center">
                @Html.DropDownList("SearchByMarketType", null, "All Markets", new { @class = "form-control input-sm", @onchange = "ODDS_NS.submitOldFilterForm(this);" })
            </div>
            <div class="col-md-2 text-center">
                @Html.DropDownList("SearchByBack", null, "All Back Odds", new { @class = "form-control input-sm", @onchange = "ODDS_NS.submitOldFilterForm(this);" })
            </div>
            <div class="col-md-2 text-center">
                @Html.DropDownList("SearchByLay", null, "All Lay Odds", new { @class = "form-control input-sm", @onchange = "ODDS_NS.submitOldFilterForm(this);" })
            </div>
            <div class="col-md-2 text-center">
                @Html.DropDownList("SearchBySize", null, "All Availability", new { @class = "form-control input-sm", @onchange = "ODDS_NS.submitOldFilterForm(this);" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9 col-md-9">
                <div class="input-group">
                    <span class="input-group-addon" id="search-addon"><span class="fa fa-search"></span></span>

                    @if (string.IsNullOrEmpty(ViewBag.filterSearchText))
                    {
                        <input id="search_filter" name="filterSearchText" aria-describedby="search-addon" class="form-control" placeholder="Search by team name, horse name, league name, output (i.e. 0-0)" value="" />
                    }
                    else
                    {
                        <input id="search_filter" name="filterSearchText" aria-describedby="search-addon" class="form-control" placeholder="Search by team name, horse name, league name, output (i.e. 0-0)" value="@ViewBag.filterSearchText" />
                    }
                </div>
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-primary btn-sm" onclick="ODDS_NS.submitFilterForm(this);"><span class="fa fa-check"></span> Apply</button>
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-default btn-sm" onclick="ODDS_NS.submitClearFilterForm(this);"><span class="fa fa-minus-circle"></span> Clear</button>
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-danger btn-sm pull-right" onclick="ODDS_NS.refreshPage()"><span class="fa fa-refresh"></span></button>
            </div>
        </div>

    </div>

} <!-- end of form -->

@if (Model.Count > 0)
                               {
    <div id="table_section">
        <div class="row">
            <div class="col-md-12">
                <table id="odds_table" class="table">
                    <col style="width:15%">
                    <col style="width:5%">
                    <col style="width:45%">
                    <col style="width:10%">

                    <thead>
                        <tr>
                            <th>
                                @Html.ActionLink("Event Date", "Index", new { sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, searchByBookmaker = ViewBag.BookmakerFilter, searchByMarketType = ViewBag.MarketTypeFilter, searchByBack = ViewBag.BackFilter, searchByLay = ViewBag.LayFilter, searchBySize = ViewBag.SizeFilter, filterSearchText = ViewBag.filterSearchText })
                            </th>
                            <th>
                                Sport
                            </th>
                            <th>
                                @Html.ActionLink("Details", "Index", new { sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, searchByBookmaker = ViewBag.BookmakerFilter, searchByMarketType = ViewBag.MarketTypeFilter, searchByBack = ViewBag.BackFilter, searchByLay = ViewBag.LayFilter, searchBySize = ViewBag.SizeFilter, filterSearchText = ViewBag.filterSearchText })
                            </th>
                            <th>
                                @Html.ActionLink("Bet", "Index", new { sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, searchByBookmaker = ViewBag.BookmakerFilter, searchByMarketType = ViewBag.MarketTypeFilter, searchByBack = ViewBag.BackFilter, searchByLay = ViewBag.LayFilter, searchBySize = ViewBag.SizeFilter, filterSearchText = ViewBag.filterSearchText })
                            </th>
                            <th>
                                @Html.ActionLink("Market", "Index", new { sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, searchByBookmaker = ViewBag.BookmakerFilter, searchByMarketType = ViewBag.MarketTypeFilter, searchByBack = ViewBag.BackFilter, searchByLay = ViewBag.LayFilter, searchBySize = ViewBag.SizeFilter, filterSearchText = ViewBag.filterSearchText })
                            </th>
                            <th>
                                @Html.ActionLink("Rating", "Index", new { sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, searchByBookmaker = ViewBag.BookmakerFilter, searchByMarketType = ViewBag.MarketTypeFilter, searchByBack = ViewBag.BackFilter, searchByLay = ViewBag.LayFilter, searchBySize = ViewBag.SizeFilter, filterSearchText = ViewBag.filterSearchText })
                            </th>
                            <th>
                                <div class="split-hcell">
                                    @Html.ActionLink("Bookmaker", "Index", new { sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, searchByBookmaker = ViewBag.BookmakerFilter, searchByMarketType = ViewBag.MarketTypeFilter, searchByBack = ViewBag.BackFilter, searchByLay = ViewBag.LayFilter, searchBySize = ViewBag.SizeFilter, filterSearchText = ViewBag.filterSearchText })
                                </div>
                                <div>
                                    @Html.ActionLink("Exchange", "Index", new { sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, searchByBookmaker = ViewBag.BookmakerFilter, searchByMarketType = ViewBag.MarketTypeFilter, searchByBack = ViewBag.BackFilter, searchByLay = ViewBag.LayFilter, searchBySize = ViewBag.SizeFilter, filterSearchText = ViewBag.filterSearchText })
                                </div>
                            </th>
                            <th>
                                <div class="split-hcell">
                                    @Html.ActionLink("Back", "Index", new { sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, searchByBookmaker = ViewBag.BookmakerFilter, searchByMarketType = ViewBag.MarketTypeFilter, searchByBack = ViewBag.BackFilter, searchByLay = ViewBag.LayFilter, searchBySize = ViewBag.SizeFilter, filterSearchText = ViewBag.filterSearchText })
                                </div>
                                <div>
                                    @Html.ActionLink("Lay", "Index", new { sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, searchByBookmaker = ViewBag.BookmakerFilter, searchByMarketType = ViewBag.MarketTypeFilter, searchByBack = ViewBag.BackFilter, searchByLay = ViewBag.LayFilter, searchBySize = ViewBag.SizeFilter, filterSearchText = ViewBag.filterSearchText })
                                </div>
                            </th>
                            <th>
                                Odds
                            </th>
                            <th>
                                Stake
                            </th>
                            <th>
                                Position
                            </th>
                            <th>
                                Liability
                            </th>
                            <th>
                                Available
                            </th>
                            <!--<th>
                                @Html.ActionLink("Back", "Index", new { sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, searchByBookmaker = ViewBag.BookmakerFilter, searchByMarketType = ViewBag.MarketTypeFilter, searchByBack = ViewBag.BackFilter, searchByLay = ViewBag.LayFilter, searchBySize = ViewBag.SizeFilter, filterSearchText = ViewBag.filterSearchText })
                            </th>
                            <th>
                                @Html.ActionLink("Lay", "Index", new { sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, searchByBookmaker = ViewBag.BookmakerFilter, searchByMarketType = ViewBag.MarketTypeFilter, searchByBack = ViewBag.BackFilter, searchByLay = ViewBag.LayFilter, searchBySize = ViewBag.SizeFilter, filterSearchText = ViewBag.filterSearchText })
                            </th>
                            <th>
                                @Html.ActionLink("Size", "Index", new { sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, searchByBookmaker = ViewBag.BookmakerFilter, searchByMarketType = ViewBag.MarketTypeFilter, searchByBack = ViewBag.BackFilter, searchByLay = ViewBag.LayFilter, searchBySize = ViewBag.SizeFilter, filterSearchText = ViewBag.filterSearchText })
                            </th> -->
                            <th>
                                Calc
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                           {
                            <tr>
                                <td>
                                    @Html.ValueFor(modelItem => item.eventDate, "{0:dd/MM/yyyy HH:mm}")
                                </td>
                                <td>
                                    <img src=@Html.DisplayFor(modelItem => item.sport) alt="Football">
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.details)<br />
                                    @Html.DisplayFor(modelItem => item.competitionName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.betName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.marketName)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.rating)
                                </td>
                                <td class="text-center">
                                    <div class="split-cell-top p-b-10 m-b-10">
                                        <img src=@Html.DisplayFor(modelItem => item.bookmaker) alt="Bookmaker">
                                    </div>
                                    <div>
                                        <img src=@Html.DisplayFor(modelItem => item.exchange) alt="Exchange">
                                    </div>
                                </td>

                                <td>
                                    <div class="split-cell-top-sm p-b-10 m-b-10">
                                        Back
                                    </div>
                                    <div class="split-cell-bottom-sm">
                                        Lay
                                    </div>
                                </td>
                                <td>
                                    <div class="split-cell-top p-b-10 m-b-10">
                                        <span class="back-highlight">
                                            @Html.DisplayFor(modelItem => item.back)
                                        </span>
                                    </div>
                                    <div class="split-cell-bottom">
                                        <span class="lay-highlight">
                                            @Html.DisplayFor(modelItem => item.lay)
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <div class="split-cell-top p-b-10 m-b-10">
                                        <span id="stake_entered" class="back-highlight">
                                            <!-- same value as entered into the Stake field -->
                                        </span>
                                    </div>
                                    <div class="split-cell-bottom">
                                        <span id="you_lay" class="lay-highlight">
                                            <!-- you lay from the calculator -->
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <div class="split-cell-top p-b-10 m-b-10">
                                        <span id="bookmaker_position" class="back-highlight">
                                            <!-- bookmaker position (bet profit bookmaker win) from the calculator-->
                                        </span>
                                    </div>
                                    <div class="split-cell-bottom">
                                        <span id="exchange_position" class="lay-highlight">
                                            <!-- exchange position (bet profit exchange win) from the calculator -->
                                        </span>
                                    </div>
                                </td>
                                <td class="text-center fixed-cell">
                                    <div id="liability" class="liability-highlight">
                                        <!-- control for showing liability from the calculator -->
                                    </div>
                                </td>
                                <td class="text-center fixed-cell">
                                    <div id="availability" class="availability-highlight">
                                        <!-- control for showing availability from the server -->
                                        £@Html.DisplayFor(modelItem => item.size)
                                    </div>
                                </td>


                                <!--<td>
                                    <span class="back-highlight">@Html.DisplayFor(modelItem => item.back)</span>
                                </td>
                                <td>
                                    <span class="lay-highlight">@Html.DisplayFor(modelItem => item.lay)</span>
                                </td>-->

                                <td>
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary profit-btn" data-toggle="modal" data-target="#calculatorModal"
                                            data-event="@Html.DisplayFor(modelItem => item.details)"
                                            data-event-date="@Html.ValueFor(modelItem => item.eventDate, "{0:dd/MM/yyyy HH:mm}")"
                                            data-back-odds=@Html.DisplayFor(modelItem => item.back)
                                            data-back-comm="0.00"
                                            data-lay-odds=@Html.DisplayFor(modelItem => item.lay)
                                            data-lay-comm="0.05"
                                            data-bookmaker-name="@Html.DisplayFor(modelItem => item.bookmaker_name)"
                                            data-exchange-name="Betfair Exchange"
                                            data-market-name="@Html.DisplayFor(modelItem => item.marketName)"
                                            data-bet-name="@Html.DisplayFor(modelItem => item.betName)"
                                            data-bet-type="@ViewBag.betTypeSelector">
                                        <span class="fa fa-calculator fa-lg"></span>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>

                <div id='Paging' class="text-center">
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, searchByBookmaker = ViewBag.BookmakerFilter, searchByMarketType = ViewBag.MarketTypeFilter, searchByBack = ViewBag.BackFilter, searchByLay = ViewBag.LayFilter, searchBySize = ViewBag.SizeFilter, filterSearchText = ViewBag.filterSearchText, betTypeSelector = ViewBag.betTypeSelector, stakeAmount = ViewBag.stakeAmount }))
                </div>

            </div>
        </div>
    </div>

    <!-- Button trigger modal formatting -->
    <div class="modal fade" id="calculatorModal" tabindex="-1" role="dialog" aria-labelledby="calculatorModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
                    <h4 class="modal-title" id="calculatorModalLabel">Profit Calculator</h4>
                </div>
                <div class="modal-body">
                    <div class="p-b-10">
                        <label class="radio-inline">
                            <input type="radio" tabindex="-1" name="inlineRadioOptions" id="inlineRadioQualifier" value="optionQualifier" data-toggle="tooltip" data-placement="top" title="Qualifying Bet"> Qualifier
                        </label>
                        <label class="radio-inline p-l-40">
                            <input type="radio" tabindex="-1" name="inlineRadioOptions" id="inlineRadioSNR" value="optionSNR" data-toggle="tooltip" data-placement="top" title="Free Bet, Stake Not Returned"> Free Bet SNR
                        </label>
                        <label class="radio-inline p-l-40">
                            <input type="radio" tabindex="-1" name="inlineRadioOptions" id="inlineRadioSR" value="optionSR" data-toggle="tooltip" data-placement="top" title="Free Bet, Stake Returned"> Free Bet SR
                        </label>
                    </div>
                    <div class="p-b-10">
                    </div>
                    <div>
                        <form>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label for="stake" class="control-label">Stake</label>
                                        <!-- might want to use something like onkeyup="changeStakeFunction()" rather than using jquery binding as we need to calculate outside of this modal -->
                                        <!-- title needs to change as we are now binding on onkeyup not onchange -->
                                        <input type="text" class="form-control white-on-black"  id="stake" data-toggle="tooltip" data-placement="top" title="Enter Stake, then hit <Enter> or <Tab> key to calculate">
                                    </div>
                                    <div class="col-md-9">
                                        <label for="event-name" class="control-label">Event</label>
                                        <input type="text" readonly tabindex="-1" class="form-control" id="event-name">
                                    </div>
                                </div>
                            </div>
                            <div class="row p-t-20">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label for="event-date" class="control-label">Date</label>
                                        <input type="text" readonly tabindex="-1" class="form-control" id="event-date">
                                    </div>
                                    <div class="col-md-4">
                                        <label for="bet-name" class="control-label">Bet</label>
                                        <input type="text" readonly tabindex="-1" class="form-control" id="bet-name">
                                    </div>
                                    <div class="col-md-4">
                                        <label for="market-name" class="control-label">Market</label>
                                        <input type="text" readonly tabindex="-1" class="form-control" id="market-name">
                                    </div>
                                </div>
                            </div>
                            <a>&nbsp;</a>
                            <div class="row p-b-10 bg-light-blue">
                                <div class="form-group">
                                    <div class="col-md-3 bg-light-blue">
                                        <label for="back-odds" class="control-label">Back Odds</label>
                                        <input type="text" readonly tabindex="-1" class="form-control text-right" id="back-odds">
                                    </div>
                                    <div class="col-md-3 bg-light-blue">
                                        <label for="back-comm" class="control-label">Back Comm</label>
                                        <input type="text" tabindex="-1" class="form-control text-right" id="back-comm">
                                    </div>
                                    <div class="col-md-6 bg-light-blue">
                                        <label for="bookmaker-name" class="control-label">Bookmaker</label>
                                        <input type="text" readonly tabindex="-1" class="form-control" id="bookmaker-name">
                                    </div>
                                </div>
                                <br />
                            </div>
                            <div class="p-t-10">
                                <div class="row p-b-10 bg-pink">
                                    <div class="form-group">
                                        <div class="col-md-3 bg-pink">
                                            <label for="lay-odds" class="control-label">Lay Odds</label>
                                            <input type="text" readonly tabindex="-1" class="form-control text-right" id="lay-odds">
                                        </div>
                                        <div class="col-md-3 bg-pink">
                                            <label for="lay-comm" class="control-label">Lay Comm</label>
                                            <input type="text" tabindex="-1" class="form-control text-right" id="lay-comm">
                                        </div>
                                        <div class="col-md-6 bg-pink">
                                            <label for="exchange-name" class="control-label">Exchange</label>
                                            <input type="text" readonly tabindex="-1" class="form-control" id="exchange-name">
                                        </div>
                                    </div>
                                </div>
                                <div class="row p-b-10 bg-pink">
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <label for="lay-amount" class="control-label">You Lay</label>
                                            <input type="text" readonly tabindex="-1" class="form-control text-right" id="lay-amount">
                                        </div>
                                        <div class="col-md-3">
                                            <label for="liability-amount" class="control-label">Liability</label>
                                            <input type="text" readonly tabindex="-1" class="form-control text-right" id="liability-amount">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="p-t-10">
                        <table class="table">
                            <tr>
                                <th>
                                    Result
                                </th>
                                <th>
                                    Bookmaker Bal
                                </th>
                                <th>
                                    Exchange Bal
                                </th>
                                <th>
                                    Bet Profit
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    Bookmaker Win
                                </td>
                                <td>
                                    <input type="text" readonly tabindex="-1" class="form-control text-center" id="bookie-win-bbal">
                                </td>
                                <td>
                                    <input type="text" readonly tabindex="-1" class="form-control text-center" id="bookie-win-xbal">
                                </td>
                                <td>
                                    <input type="text" readonly tabindex="-1" class="form-control text-center" id="bookie-win-profit">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Exchange Win
                                </td>
                                <td>
                                    <input type="text" readonly tabindex="-1" class="form-control text-center" id="exchange-win-bbal">
                                </td>
                                <td>
                                    <input type="text" readonly tabindex="-1" class="form-control text-center" id="exchange-win-xbal">
                                </td>
                                <td>
                                    <input type="text" readonly tabindex="-1" class="form-control text-center" id="exchange-win-profit">
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Calculate</button>
                    <button type="button" class="btn btn-default" tabindex="-1" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}

else
{
    if (string.IsNullOrEmpty(ViewBag.CurrentFilter) &&
    string.IsNullOrEmpty(ViewBag.BookmakerFilter) &&
    string.IsNullOrEmpty(ViewBag.MarketTypeFilter) &&
    string.IsNullOrEmpty(ViewBag.BackFilter) &&
    string.IsNullOrEmpty(ViewBag.SizeFilter))
    {
        <p> There are no events on the database.</p>
    }
    else
    {
        <p> There are no matches for the filter.</p>
    }
}

<script src="~/Scripts/ion.rangeSlider.min.js" type="text/javascript"></script>
<script src="~/Scripts/oddsmatcher.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        ODDS_NS.init();
    });

</script>


